{% extends 'base.html' %}

{% block title %}Personal Budget - Zarejestruj się{% endblock %}

{% block footer %}
    
{% endblock %}

{% block body %}

	<div class="jumbotron">
		<div class="row">
			<div class="col-md-12">
				<h2><i class="demo-icon icon-user-plus"></i> Rejestracja</h2>
				<form method="post" action="/signup/create" id="formSignup">
					<div class="form-group">
						<label for="inputName">Imię</label>
						<input class="form-control" id="inputName" name="name" placeholder="Podaj imię" autofocus value="{{ user.name }}" required />
					</div>
					<div class="form-group">
						<label for="inputEmail">Adres email</label>
						<input class="form-control" id="inputEmail" name="email" placeholder="Podaj email" value="{{ user.email }}" required type="email" />
						<small id="emailHelp" class="form-text text-muted">Dbamy o Twoją prywtność, adres e-mail nie będzie widoczny dla innych.</small>
					</div>
					<div class="form-group">
						<label for="inputPassword">Hasło</label>
						<input class="form-control" type="password" id="inputPassword" name="password" placeholder="Podaj hasło" required />
					</div>
					<button type="submit" class="btn-lg btn btn-outline-success">Zarejestruj</button>
				</form>
			</div>
		</div>
	</div>
	<hr>
			
{% endblock %}
