{% extends "base_logged.html" %}

{% block title %}Personal Budget - dodaj wydatek{% endblock %}

{% block body %}





<div id="content">
</div>


	<div class="jumbotron">
		<h2><i class="demo-icon icon-upload"></i> Dodaj wydatek</h2>
		<form method="post" action="/expense/create">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="amountExpense">Kwota wydatku</label>
						<input type="number" class="form-control" id="amountExpense" name="amountExpense" step=".01" placeholder="wpisz kwotę" onchange="getOption()">
					</div>
				</div>
				<div class="col-md-6">
					<label for="dateExpense">Data wydatku</label>
					<input type="date" class="form-control" name="dateExpense" id="dateExpense" onchange="getOption()">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p>Forma płatności</p>
					
					{% for name in paymentMethodsAssignedToUser %}
					{% if loop.first %}
					
					<div class="form-check">
					  <input class="form-check-input" type="radio" name="paymentMethod" value="{{ name.id }}" id="{{ name.id }}"  checked>
					  <label class="form-check-label" for="{{ name.id }}">
						{{ name.name }}
					  </label>
					</div>
					
					{% else %}

					<div class="form-check">
					  <input class="form-check-input" type="radio" name="paymentMethod" value="{{ name.id }}" id="{{ name.id }}">
					  <label class="form-check-label" for="{{ name.id }}">
						{{ name.name }}
					  </label>
					</div>
					
					{% endif %}
					
					{% endfor %}
				</div>
				
				<div class="col-md-6">
					<p>Kategoria wydatku</p>
					<select class="custom-select" name="expenseCategory" id="expenseCategory" onchange="getOption()">
					
					{% for name in expenseCategoriesAssignedToUser %}
					
					<option value="{{ name.id }}">{{ name.name }}</option>
					
					{% endfor %}
						
				</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mt-3">
					<p>Komentarz</p>
					<div class="input-group">
						<div class="input-group-prepend"></div>
						<textarea class="form-control" name="expenseComment" aria-label="With textarea"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mt-3 text-center">
					<button role="submit" class="btn btn-block btn-outline-success btn-lg">Zatwierdź</button>
				</div>
				<div class="col-md-6 mt-3 text-center">
					<a type="button" href="/home/index" class="btn btn-block btn-outline-danger btn-lg">Anuluj</a>
				</div>
			</div>
		</form>
	</div>
	<hr>
	
	

			

{% endblock %}
