{% extends "base_logged.html" %}

{% block title %}Personal Budget - zmień email{% endblock %}

{% block body %}

	<div class="jumbotron">
		<h2><i class="demo-icon icon-download"></i> Zmień email</h2>
			<div class="row">
				<div class="col-md-6">
					Obecnie zapisany adres email:  {{" "}}{{ current_user.email }}
				</div>
			</div>
			<form method="post" action="/settings/updateEmail">
			<div class="row">
			
				<div class="col-md-6">
					<div class="form-group">
						<label for="inputEmail">Nowy adres email</label>
						<input class="form-control" id="inputEmail" name="email" placeholder="Podaj email" value="{{ user.email }}" required type="email" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mt-3 text-center">
					<button type="submit" class="btn btn-block btn-outline-success btn-lg">Zatwierdź</button>
				</div>
				<div class="col-md-6 mt-3 text-center">
					<a role="button" href="/settings/options" class="btn btn-block btn-outline-danger btn-lg">Anuluj</a>
				</div>
			</div>
			
		</form>
	</div>
	<hr>
			
{% endblock %}
