{% extends "base_logged.html" %}

{% block title %}Personal Budget - zmień metody płatności{% endblock %}

{% block body %}



   
	<div class="jumbotron">
		<h2><i class="demo-icon icon-cog-alt"></i> Zmień metody płatności</h2>
			
			<div class="row">
				<div class="col-md-6">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Obecnie zapisane metody płatności</th>
								
							</tr>
						</thead>
						<tbody>
						
						{% for name in paymentMethodsAssignedToUser %}
					
							<tr>
								<th scope="row">{{ loop.index }}</th>
								<td>{{ name.name }}</td>
								<td>
								
								<!-- Button trigger modal -->
									<button type="button" class="btn btn-block btn-info btn-sm" data-toggle="modal" data-target="#editModal{{ loop.index }}">
									  Edytuj
									</button>

									<!-- Modal -->
									<div class="modal fade" id="editModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel{{ loop.index }}" aria-hidden="true">
									<form method="post" action="/settings/editPaymentMethod">
									  <div class="modal-dialog" role="document">
										<div class="modal-content">
										  <div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Edycja metody płatności:{{" "}} {{ name.name }}</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											  <span aria-hidden="true">&times;</span>
											</button>
										  </div>
										  <div class="modal-body">
											<label for="inputName">Wprowadź nową nazwę</label>
											<input class="form-control" id="newPaymentMethod" name="newPaymentMethod" placeholder="Nowa nazwa" autofocus value="" required />
											<input type="hidden" value="{{ name.name }}" name="oldPaymentMethod">
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Wyjdź</button>
											<button type="submit" class="btn btn-primary">Zapisz</button>
										  </div>
										</div>
									  </div>
									  </form>
									</div>
								
								
								</td>
								<td>
								
								<button type="button" class="btn btn-block btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal{{ loop.index }}">
									  Usuń
									</button>

									<!-- Modal -->
									<div class="modal fade" id="deleteModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ loop.index }}" aria-hidden="true">
									<form method="post" action="/settings/deletePaymentMethod">
									  <div class="modal-dialog" role="document">
										<div class="modal-content">
										  <div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Usuwanie metody płatności:{{" "}} {{ name.name }}</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											  <span aria-hidden="true">&times;</span>
											</button>
										  </div>
										  <div class="modal-body">
											Uważaj, chcesz usunąć metodę płatności {{" "}} {{ name.name }}! Usunięcie metody płatności spowoduje również usunięcie wszystkich wydatków z listy, w których ta metoda płatności została wybrana. Czy na pewno chcesz kontynuować?
											 <input type="hidden" value="{{ name.name }}" name="methodToDelete">
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Wyjdź</button>
											<button type="submit" class="btn btn-danger">Usuń</button>
										  </div>
										</div>
									  </div>
									  </form>
									</div>
								
								</td>
								
							</tr>
					
						{% endfor %}
						
						</tbody>
					</table>
					
					
					
					
					
					
				</div>
				
				<div class="col-md-6 text-center">
					
					
					<button type="button" class="btn btn-block btn-outline-primary btn-lg" data-toggle="modal" data-target="#addPaymentMethod">
									  Dodaj metodę płatności
									</button>

									<!-- Modal -->
									<div class="modal fade" id="addPaymentMethod" tabindex="-1" role="dialog" aria-labelledby="addPaymentMethod" aria-hidden="true">
									<form method="post" action="/settings/addNewPaymentMethod">
									  <div class="modal-dialog" role="document">
										<div class="modal-content">
										  <div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Dodawanie metody płatności</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											  <span aria-hidden="true">&times;</span>
											</button>
										  </div>
										  
										  <div class="modal-body">
											<label for="inputName">Wprowadź nazwę metody płatności</label>
											<input class="form-control" id="newPaymentMethod" name="newPaymentMethod" placeholder="nazwa" autofocus value="" required />
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Wyjdź</button>
											<button type="submit" class="btn btn-primary">Zapisz</button>
										  </div>
										</div>
									  </div>
									  </form>
									</div>
				</div>
				
			</div>
			<div class="row">
				<div class="col-md-12">
					<a type="button" href="/Settings/options" class="btn mb-3 mt-3 btn-block btn-outline-primary btn-lg"><i class="demo-icon icon-cog-alt"></i> Ustawienia</a>
				</div>
			</div>
			<form method="post" action="/income/updateName">
		</form>
	</div>
	<hr>
			<!-- Modal -->


{% endblock %}
